<div id="<%= dom_id url %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= url.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link:</strong>
    <%= url.link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= url.description %>
  </p>

</div>
